- title t('auth.sign_up')

.text-center
  %a{ href: user_omniauth_authorize_path(:facebook) }
    %img{ src: '/assets/fb-icon.jpg' }

= render partial: '/helpers/validation_errors', locals: { suspect: resource }
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'auth-form'}) do |f|
  .form-group
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, class: 'form-control'
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password
    - if @minimum_password_length
      %small
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  = f.button t('auth.sign_up'), class: 'btn btn-primary btn-block btn-lg'
