.order-summary-little
  %h4.page-header
    = t('checkout.order_summary')
  %dl.dl-horizontal
    %dt
      = t('checkout.items_total')
    %dd
      %strong
        #{beauty_price(order.items_total_price)}#{t('currancy')}

  - if order.delivery
    %dl.dl-horizontal
      %dt
        = t('checkout.delivery_total')
      %dd
        %strong
          #{beauty_price(order.delivery.price)}#{t('currancy')}

  %dl.dl-horizontal
    %dt
      = t('checkout.order_total')
    %dd
      %strong
        #{beauty_price(order.total_price)}#{t('currancy')}
