- title t('checkout.title')

= render layout: 'layouts/checkout' do

  .top-buffer

  = render partial: 'carts/items', locals: {items: cart_items, edit: false}

  %hr.top-buffer

  = render partial: 'helpers/order_view', locals: { order: @current_order, is_edit: true }

  = render partial: 'checkout/order_summary', locals:  { order: @current_order }

  %hr.top-buffer
    = form_tag wizard_path, method: :put do
      = button_tag t('checkout.place_order'), name: nil, class: 'btn btn-success btn-lg pull-right'