= render layout: 'layouts/checkout' do

  = form_for @current_order, url: wizard_path, method: :put do |f|
    .row
      .col-md-5
        %h4.page-header= t('checkout.delivery')
        - @deliveries.each do |d|
          .radio
            %label
              = f.radio_button :delivery_id, d.id
              = "#{d} + #{beauty_price(d.price)}#{t('currancy')}"

      .col-md-3

      .col-md-4
        = render partial: 'checkout/order_summary', locals:  { order: @current_order }

    %hr

    = f.button t('checkout.next'), name: nil, class: 'btn btn-success btn-lg pull-right'