= render layout: 'layouts/checkout' do
  = form_for @current_order, url: wizard_path, method: :put do |f|
    = f.fields_for :credit_card do |ff|
      .row
        .col-md-5
          %h4.page-header= t('checkout.payment')
          = render partial: '/helpers/validation_errors', locals: { suspect: @current_order.credit_card }
          .form-group
            = ff.label :number
            = ff.text_field :number, class: 'form-control'
          .form-group
            = ff.label :expiration_month
            = ff.select :expiration_month, months_for_select, { prompt: 'Choose month' }, { class: 'form-control' }
          .form-group
            = ff.label :expiration_year
            = ff.text_field :expiration_year, class: 'form-control'
          .form-group
            = ff.label :cvv
            = ff.text_field :cvv, class: 'form-control'

        .col-md-3

        .col-md-4
          = render partial: 'checkout/order_summary', locals:  { order: @current_order }

      %hr

      = f.button t('checkout.next'), name: nil, class: 'btn btn-success btn-lg pull-right'