.row.top-buffer
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          = t('billing.name')
          - if is_edit
            %small
              = link_to 'Edit', wizard_path(:address)
      .panel-body
        %ul.list-unstyled
          %li= order.billing_address.first_name
          %li= order.billing_address.last_name
          %li= order.billing_address.country
          %li= order.billing_address.city
          %li= order.billing_address.street
          %li= order.billing_address.zip
          %li= order.billing_address.phone
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          = t('shipping.name')
          - if is_edit
            %small
              = link_to 'Edit', wizard_path(:address)
      .panel-body
        %ul.list-unstyled
          %li= order.shipping_address.first_name
          %li= order.shipping_address.last_name
          %li= order.shipping_address.country
          %li= order.shipping_address.city
          %li= order.shipping_address.street
          %li= order.shipping_address.zip
          %li= order.shipping_address.phone
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          = t('checkout.delivery')
          - if is_edit
            %small
              = link_to 'Edit', wizard_path(:delivery)
      .panel-body
        %ul.list-unstyled
          %li= order.delivery.name
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          = t('checkout.payment')
          - if is_edit
            %small
              = link_to 'Edit', wizard_path(:payment)
      .panel-body
        %ul.list-unstyled
          %li= order.credit_card.secure_number
          %li= order.credit_card.expiration_month
          %li= order.credit_card.expiration_year