.table-responsive
  %table.table.table-striped.cart-table
    %thead
      %th.col-md-3= t('cart.fields.title')
      %th.col-md-2= t('cart.fields.quantity')
      %th.col-md-2= t('cart.fields.for_one')
      %th.col-md-2= t('cart.fields.for_all')
      - if edit
        %th.col-md-3
    %tbody
    - items.each do | item |
      %tr
        %td
          = link_to item.book, item.book
        %td
          = item.quantity
        %td
          #{beauty_price(item.book.price)}#{t('currancy')}
        %td
          #{beauty_price(item.total_price)}#{t('currancy')}
        - if edit
          %td
            = render partial: '/helpers/validation_errors', locals: { suspect: item }
            = form_for item, method: :delete, url: remove_item_book_order_path(item.book),
                html: {class: 'form-inline'} do |f|
              = f.number_field :quantity, value: 1, min: 1, class: 'form-control'
              = submit_tag t('cart.remove'), name: nil, class: 'btn btn-warning'