- title t('auth.sign_in')

.text-center
  %a{ href: user_omniauth_authorize_path(:facebook) }
    %img{ src: '/assets/fb-icon.jpg' }

= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'auth-form'}) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  - if devise_mapping.rememberable?
    .checkbox
      %label
        = f.check_box :remember_me
        = t 'auth.remember_me'
  = f.button t('auth.sign_in'), class: 'btn btn-primary btn-block btn-lg'
