= render layout: 'layouts/checkout' do

  = form_for @current_order, url: wizard_path, method: :put do |f|
    = f.fields_for :credit_card do |ff|
      %div
        = ff.label :number
        = ff.text_field :number
      %div
        = ff.label :expiration_month
        = ff.text_field :expiration_month
      %div
        = ff.label :expiration_year
        = ff.text_field :expiration_year
      %div
        = ff.label :cvv
        = ff.text_field :cvv
    = f.submit 'Save and continue'