- title t('review.review_for', name: @book)

%h1= t('review.review_for', name: @book)

= render partial: '/helpers/validation_errors', locals: { suspect: @review }
= form_for @review, url: book_reviews_path(@book) do |f|
  .form-group
    = f.label :rating
    = f.select :rating, Review::RATING, {}, class: 'form-control'
  .form-group
    = f.label :note
    = f.text_area :note, class: 'form-control'
  = f.submit t('review.add_new'), class: 'btn btn-primary'