!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title
      - if content_for?(:title)
        #{content_for(:title)} - Bookstore
      - else
        Bookstore
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{class: controller_name}
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to t('app_name'), root_path, class: 'navbar-brand'
        #navbar
          %ul.nav.navbar-nav
            %li
              = link_to t('author.names'), authors_path
            %li
              = link_to t('search.name'), search_path
            %li
              = link_to t('shop'), books_path
            %li
              = shopping_cart_link
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.dropdown
                %a{ href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' }
                  = glyph_icon :align_justify

                %ul.dropdown-menu
                  - if current_user.is_admin?
                    %li
                      = link_to t('admin_label'), rails_admin_path
                    %li.divider
                  %li
                    = link_to t('wishes.my'), user_wishes_path(current_user)
                  %li.divider
                  %li
                    = link_to t('settings'), settings_billing_address_path
                  %li.divider
                  %li
                    = link_to t('auth.sign_out'), destroy_user_session_path(resource_name)
            - else
              %li
                = link_to t('auth.sign_in'), new_session_path(resource_name)
              %li
                = link_to t('auth.sign_up'), new_registration_path(resource_name)

    .container
      - if notice
        .alert.alert-info= notice

      - if alert
        .alert.alert-danger= alert

      = yield

  = javascript_include_tag 'application'